.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 575px) {
  footer .row .col-sm-4 {
    padding: 30px 80px;
  }
  .about-title{
    margin-bottom: 0;
  }
  .about-title .col-md-6 p {
    margin: 5px 0px;
    width: 100%;
  }
  }

  @media only screen and (max-width: 770px){     
  .contact-title{
    margin-top: 30px;
  }    
  }

